<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!--<add key="Artifactory" value="https://artifactory-nz.corp.diligent.com/artifactory/api/nuget/diligent-nuget" /> -->
    <add key="nuget v3" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget v2" value="https://www.nuget.org/api/v2" />
    <add key="Artifactory-DevelopmentThirdParty" value="https://artifactory-nz.corp.diligent.com/artifactory/api/nuget/development-thirdparty" />
  </packageSources>
  <disabledPackageSources>
    <!-- <add key="nuget v3" value="true" />
    <add key="nuget v2" value="true" /> -->
  </disabledPackageSources>
</configuration>